<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>change country</title>
</head>
<h1> change country</h1>
<body>
    <form method="post">
        <p> country id to change</p>
        <div class="form-group">
            <label for="country_id"> country</label>
            <input
              type="number"
              class="form-control"
              id="country_id"
              name="country_id"
              placeholder="Enter country id"
              required
            />
          </div>

    <p>what to change</p>

    <div class="form-group">
        <label for="country_id_new"> new country id</label>
        <input
          type="number"
          class="form-control"
          id="country_id_new"
          name="country_id_new"
          placeholder="Enter  new country id"
          required

        />
      </div>
      <div class="form-group">
        <label for="name_new"> new country name</label>
        <input
          type="varChar"
          class="form-control"
          id="name_new"
          name="name_new"
          placeholder="Enter new country name"
          required

        />
      <button type="submit" class="btn btn-primary">Submit</button>
          <button><a href="/countries">Back to countries</a></button>
    </form>


        />
      </div>



</body>
</html>