<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>change flight</title>
</head>
<h1> change flights</h1>
<body>
    <form method="post">
        <p> flight id to change</p>
        <div class="form-group">
            <label for="flight_id"> flight id</label>
            <input
              type="text"
              class="form-control"
              id="flight_id"
              name="flight_id"
              placeholder="Enter flight id"
              required
            />
          </div>

    <p>what to change</p>

    <div class="form-group">
        <label for="flight_id_new"> new flight id</label>
        <input
          type="text"
          class="form-control"
          id="flight_id_new"
          name="flight_id_new"
          placeholder="Enter  new flight id"
          required

        />
      </div>
      <div class="form-group">
        <label for="timestamp_new"> new timestamp</label>
        <input
          type="datetime-local"
          class="form-control"
          id="timestamp_new"
          name="timestamp_new"
          placeholder="Enter new timestamp"
          required

        />
      </div>
      <div class="form-group">
        <label for="remaining_seats_new"> new remaining seats</label>
        <input
          type="number"
          class="form-control"
          id="remaining_seats_new"
          name="remaining_seats_new"
          placeholder="Enter new remaining_seats"

        />
      </div>
      <div class="form-group">
        <label for="origin_country_id_new"> new origin country id</label>
        <input
          type="number"
          class="form-control"
          id="origin_country_id_new"
          name="origin_country_id_new"
          placeholder="Enter  new origin country id"

        />
      </div>
      <div class="form-group">
        <label for="destination_country_id_new"> new destination country id</label>
        <input
          type="number"
          class="form-control"
          id="destination_country_id_new"
          name="destination_country_id_new"
          placeholder="Enter new destination country id"

        />

      <button type="submit" class="btn btn-primary">Submit</button>
          <button><a href="/flights">Back to flight</a></button>
    </form>





</body>
</html>