<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete country</title>
</head>
<h1>Delete country</h1>
<body>
    <form method="POST">
    </p> select which country to delete</p>
    <div class="form-group">
        <label for="country_id"> country id</label>
        <input
          type="number"
          class="form-control"
          id="country_id"
          name="country_id"
          placeholder="Enter country_id"
          required
        />
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
        <button><a href="/countries">Back to countries</a></button>
    </form>


</body>
</html>