<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GetFlightId</title>
</head>
<h1>Flight by id</h1>
<body>
    <p>Enter flight id and get the flight details></p>
    <form  method="post">
        <div class="form-group">
            <label for="flight_id">flight id</label>
            <input
              type="number"
              class="form-control"
              id="flight_id"
              name="flight_id"
              placeholder="Enter flight id"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        <button><a href="/flights">Back to flight</a></button>

</body>
</html>