<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GetTicketId</title>
</head>
<h1>Ticket by id</h1>
<body>
    <p>Enter ticket id></p>
    <form  method="post">
        <div class="form-group">
            <label for="ticket_id">ticket id</label>
            <input
              type="number"
              class="form-control"
              id="ticket_id"
              name="ticket_id"
              placeholder="Enter ticket id"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        <button><a href="/tickets">Back to tickets</a></button>

</body>
</html>