<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
</head>
<h1>Tickets</h1>
<style>
    body{
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        color: #000;
    }
</style>
<body>
    <p>Here you can change Tickets details</p>
    <button><a href="getticket">See all the tickets</a></button>
    <button><a href="getidt">See sepcific ticket by id</a></button>
    <button><a href="addticket">Add ticket</a></button>
    <button><a href="deleteticket">Delete Ticket</a></button>

    <button><a href="admindashboard">Back to dashboard</a></button>

</body>
</html>